<!DOCTYPE html>
<html>
 <head>
    <title>Sistema Reservas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f90d3bf50d.js" crossorigin="anonymous"></script>
</head>
<body>
 <!--<header id="cab"></header>-->
 
 <%- include('general/cabecera'); %>
 
 <section id="conceptoUP" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h4>
                                Crear Reserva 
                            </h4>
                        </div>
                        <form id="fmrReserva" class="was-validated">
                           <div class="modal-body"> 
                                <div class="form-group">                                  
                                  <label for="cedula">Cédula</label>
                                  <input type="text" value=""
                                         class="form-control" name="cedula" id="cedula" required>
                                </div>
                                <div class="form-group">
                                 <label for="nombre">Nombre</label>
                                 <input type="text" value=""
                                        class="form-control" name="nombre" id="nombre" required>
                                </div>
                                <div class="form-group">
                                 <label for="nombre">Apellido</label>
                                 <input type="text" value=""
                                        class="form-control" name="apellido" id="apellido" required>
                                 </div>
                            
                                
                                <!--
                                 <div class="form-group">                                    
                                 <label for="id_cliente">Cliente</label>
                                 <select class="form-control" name="id_cliente">
                                  <option>seleccionar</option>                                                    
                                 </select>                                                                  
                                </div>-->                                
                            </div>
                            <div class="modal-footer">
                                <button id="btnCrearReserva" class="btn btn-primary" type="button">Guardar</button>
                            </div>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
 <%- include('general/piePagina'); %>

 <!--<footer id="pie" class="bg-warning text-white mt-5 p-5"></footer>-->
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
         integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
         crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
         integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
         crossorigin="anonymous"></script>

<script>
 $(document).ready(function () {
        console.log("Hola Mundo");
        //$('#cab').load('./views/general/cabecera.html');
        //$('#pie').load('./views/general/piePagina.html');

        $("#cedula").on("change", function(){
            let cedula = $(this).val();    
            
            $.ajax(
             {
                type: 'GET',
                dataType: 'json', 
                url: "http://localhost:4000/clienteByCi/"+cedula,
                success: function(data){
        
                   if(data.cedula == "NoExiste"){
                        console.log("Cliente NO EXISTE");
                        $("#nombre").val("");
                        $("#apellido").val("");       
                        $("#nombre").attr("readonly", false);
                        $("#apellido").attr("readonly", false);     
                   }else{
                        $("#nombre").val(data.nombre);
                        $("#apellido").val(data.apellido);       
                        $("#nombre").attr("readonly",   true);
                        $("#apellido").attr("readonly", true);     
                   }  

                }
             }
            );   
            /* 
            $.get({
                   url: "http://localhost:4000/clienteByCi/"+cedula,
                   success: function (data){                   
                      console.log("data"+data);

                      
                   },
                   dataType: "json"
                 });
*/

        });

 });
</script>
        
         
</body>
</html>